<DOCTYPE html>   
        <html>
             <head>
                   <title>my first website</title>
                   <link rel="stylesheet" type="text/css" href="sitecss/websitestyle.css">
                   <script src=”Website/website.js”></script>
             </head>    
                     <body>
                           <div id="navbar">         
                            <ul>
                               <li>
                                 <a href="index">
                                    Home
                                 </a>
                               </li> 
                               <li>
                                 <a href="musicsite">
                                  Music
                                 </a>
                               </li>
                               <li>
                                 <a href="filmsite">
                                  Film
                                 </a>    
                               </li>
                               <li>
                                 <a href="booksite">
                              Books
                                 </a>
                             </li>
                           </div>
                          </ul>

                          <img src="images/library.jpg" alt="books" width="806px" height="350">
                  
                        
                        <p>
                          Literature has been the pinnacle of human expression and entertainment for centuries. Through the written word, people have been able to transcend the very places they inhabit. Much like the artistic medium of music and film it has the ability to transport us to different worlds, times, and emotional states. Reading pushes the boundaries of imagination and knowledge. I've always felt that a good book is a lot like getting lost in your favorite theme park. You find different perspectives and see reality in a way you never really did before. Below are just a few of the books I've read or that I am currently enveloped in.
                        </p>
                        

                      
                       <!--for some reason I cannot seem to get the first li image to float in an orderly vertical fashion, despite using the proper css to execute it-->
                        <ul>
                          <li>
                            
                              <img src="images/houseofleaves.jpg" alt="hol" width="300" height="440">
                            
                          </li>
                          <li>
                            
                              <img src="images/jdate.jpg" alt="johndidntdie" width="300" height="440">
                            
                          </li>
                          <li>
                            
                            <img src="images/rebellion.jpg" alt="stanovich" width="300" height="440">
                          
                          </li>  
                        </ul>
                   </body>