<DOCTYPE html>   
        <html>
             <head>
                   <title>my first website</title>
                   <link rel="stylesheet" type="text/css" href="sitecss/websitestyle.css">
                   <script src=”website.js”></script>

             </head>    
                     <body>
                           <div id="navbar">         
                            <ul>
                               <li>
                                 <a href="index">
                                    Home
                                 </a>
                               </li> 
                               <li>
                                 <a href="musicsite">
                                  Music
                                 </a>
                               </li>
                               <li>
                                 <a href="filmsite">
                                  Film
                                 </a>    
                               </li>
                               <li>
                                 <a href="booksite">
                              Books
                                 </a>
                             </li>
                           </div>
                          </ul>

                          <img src="images/submarine2.gif" "subgif" width="806" height="350">
                        <div class="float">
                        <p>
                          Film is another great love of mine. In my humble opinion, I believe film to be the culmination of every creative work known to man. It's just the right combination of artistry, brought together to create one unique vision. A film relies on lighting, visual effects, costume design, set design, acting, and writing; all of which are respectable artforms in their own right. But when these pursuits are brought together in systematic succession, they embody the very essence of imagination and storytelling.
                        </p>
                        </div>
                   </body>