<DOCTYPE html>   
        <html>
             <head>
                   <title>my first website</title>
                   <link rel="stylesheet" type="text/css" href="sitecss/websitestyle.css">
                   <script src=”website.js”></script>

             </head>    
                     <body>
                           <div id="navbar">         
                            <ul>
                               <li>
                                 <a href="index">
                                    Home
                                 </a>
                               </li> 
                               <li>
                                 <a href="musicsite">
                                  Music
                                 </a>
                               </li>
                               <li>
                                 <a href="filmsite">
                                  Film
                                 </a>    
                               </li>
                               <li>
                                 <a href="booksite">
                              Books
                                 </a>
                             </li>
                           </div>
                          </ul>

                          <img src="images/jessielacey.jpg" alt="jessie rockin out" width="806px" height="350px">

                        <div class="float">
                        <p>
                           There is a lot that can be said on the subject of music. It captures the imagination and can encapsulate any feeling on the emotional spectrum. Being both distinct and ethereal (like a feeling) it has the power to both exist at one time and not at all. Music is like Christmas to me; at least the pursuit of finding new and inventive bands/artists feels like waking up on a chilly December morning and unwrapping the different aesthetic layers of instrumentation, lyrical content, and themes an artist is trying to convey. Being a musician myself, I'm always trying to challenge my abilities to learn and progress as best as I can. One day I hope to build a recording studio within the comfort and convenience of my own home.

                        </p>
                        </div>









                    </body>